requests==2.28.2
discord.py
python-dotenv==0.21.1
async-timeout
Flask==2.2.2
pip==23.0
wheel==0.38.4
pathlib==1.0.1
setuptools==67.0.0
nest_asyncio
aiohttp>=3.8.0 # not directly required, pinned by Snyk to avoid a vulnerability