requests==2.32.0
discord.py
python-dotenv==1.0.0
async-timeout
Flask==2.3.2
pip==23.1.2
wheel==0.40.0
pathlib==1.0.1
setuptools==67.8.0
nest_asyncio
aiohttp>=3.8.0 # not directly required, pinned by Snyk to avoid a vulnerability